<!DOCTYPE html>
<html>
	<head>
		
		<link rel="stylesheet" href="./css/animestyle.css">
		
		<title>Anime main page</title>
		
	</head>

	<body>
	<header id="header">
			<div class="logo"></div>
			<nav id="main-menu">
				<ul>
					<li> <div class="cv"> <a class="winter" href="home">Admin Home</a></div></li>
				</ul>
			</nav>
			<div class="logob"></div>
	</header>
		
		
	<h1>AGGIUNGI ANIME FORM</h1>
		<form method="post" action="store" id="animeData" > 
		
			<label for="nome">Titolo Anime</label>
			<input type="text" value="" name="name">
			<br>
			
			<label for="cognome">Cover Path</label>
			<input type="text" value="" name="cover">
			<br>
			
			<label for="telefono">genere</label>
			<input type="text" value="" name="genere">
			<br>
			
			<label for="email">trama</label>
			<input type="text" value="" name="trama">
			<br>
			
			<button type="submit" >Crea Anime</button>
			
		</form>
	
	</body>
</html>
