*{
    box-sizing: border-box;
}
/*
 *SERVILI
*/
.cv{
    position: relative; 
    top:50%;
    transform: translateY(-50%);
}
#header{
    background-color: blue;
    position: relative;
    width:100%;
    padding: 15px 35px;
    height: 100px;
    border-bottom: 2px solid #00adef;
}

.logo{
    background-image: url('../immagini/gintoki.png');
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 20%;
    top: 0;
    left: 0;
}

#main-menu{
    position: relative;
    width: 100%;
    height: 100%;
}
#main-menu ul{
    padding:0px;
    margin:0px;
    text-align: center;
    height: 100%;
}

#main-menu ul li{
    position: relative;
    display: inline-block;
    height: 100%;
    padding-right:20px;
    padding-left: 20px;
}

#main-menu ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 600;
    font-size: 1rem;
}

.winter:hover{
    background-color: blue;
}

.fall:hover{
    background-color: red;
}

.summer:hover{
    background-color: lightblue;
}

.spring:hover{
    background-color: pink;
}

.logob{
    background-image: url('../immagini/gintoki.png');
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 20%;
    top: 0;
    right: 0;
}

main{
    text-align: center;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#959595+0,0d0d0d+23,0d0d0d+23,0a0a0a+57,0a0a0a+57,4e4e4e+74,383838+87,1b1b1b+100 */
background: #959595; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #959595 0%, #0d0d0d 23%, #0d0d0d 23%, #0a0a0a 57%, #0a0a0a 57%, #4e4e4e 74%, #383838 87%, #1b1b1b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #959595 0%,#0d0d0d 23%,#0d0d0d 23%,#0a0a0a 57%,#0a0a0a 57%,#4e4e4e 74%,#383838 87%,#1b1b1b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #959595 0%,#0d0d0d 23%,#0d0d0d 23%,#0a0a0a 57%,#0a0a0a 57%,#4e4e4e 74%,#383838 87%,#1b1b1b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.boxanime{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e0f3fa+0,d8f0fc+27,b8e2f6+64,b6dffd+100 */
background: #e0f3fa; /* Old browsers */
background: -moz-linear-gradient(45deg,  #e0f3fa 0%, #d8f0fc 27%, #b8e2f6 64%, #b6dffd 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #e0f3fa 0%,#d8f0fc 27%,#b8e2f6 64%,#b6dffd 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #e0f3fa 0%,#d8f0fc 27%,#b8e2f6 64%,#b6dffd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#b6dffd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    text-align: center;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    border: 2px solid black;
    width: 23%;
    height: 500px;
}

.boxtitolo{
    color: #2d353e;
    font-size: 2rem;
    font-weight: 300;
    position: relative;
    width:100%;
    height: 10%;
    border-bottom: 2px solid black;
}

.boximg{
    margin: 0px;
    float: left;
    position: relative;
    width: 70%;
    height: 70%;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.boxinfo{
    color: #2d353e;
    font-size: 1.2rem;
    display: flex;
    flex-flow: column;
    width: 30%;
    height: 70%;
    border-bottom: 2px solid black;
}

.boxgenere{
    color: #2d353e;
    position: relative;
    width: 100%;
    height: 20%;
    border-bottom: 2px solid black;
}

.boxtrama{
    color: #2d353e;
    padding: 10px;
    text-align: left;
    overflow-y: scroll;
    position: relative;
    width: 100%;
    height: 80%;
}

.boxcollegamenti{
    color: #2d353e;
    width: 100%;
    height: 10%;
}

.boxcollegamenti a{
    text-decoration: none;
    color: #2d353e;
    width: 100%;
    height: 10%;
}

.mainbox{
    text-align: center;
    width: 100%;
    height: 750px;
    position: relative;
    background-color: red;
    display: inline-block;
}


.info{
    margin: 0 auto;
    vertical-align: top;
    display: block;
    position: relative;
    width: 200px;
    height: 200px;
    background-color: green;
}


.selezione{
    display: inline-block;
    width: 45%;
    height: 100%;
}


.newboxanime{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e0f3fa+0,d8f0fc+27,b8e2f6+64,b6dffd+100 */
background: #e0f3fa; /* Old browsers */
background: -moz-linear-gradient(45deg,  #e0f3fa 0%, #d8f0fc 27%, #b8e2f6 64%, #b6dffd 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #e0f3fa 0%,#d8f0fc 27%,#b8e2f6 64%,#b6dffd 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #e0f3fa 0%,#d8f0fc 27%,#b8e2f6 64%,#b6dffd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#b6dffd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    width: 385px;
    height: 500px;
    text-align: center;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    border: 2px solid black;
    height: 500px;
}

.divform{
    display: inline-block;
}

.modifica{
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}


.c-verti2{
    position: relative; 
    top:50%;
    transform: translateY(-50%);
}
/* CENTRAMENTO VERTICALE */


/* CENTRAMENTO VERTICALE DISPLAY TABLE */
.dt{
    position: relative;
    display: table;
}

.dtc{
    display: table-cell;
}

.w-full{
    width: 100%;
    
}

.h-full{
    height: 100%;
}

.va-m{
    vertical-align: middle;
}
